.search{
    background-color: aliceblue;
    width: fit-content;
    margin: 2.5rem auto 4rem auto;
    padding: 0.5rem;
    border-radius: 5px;
}
.search form{
    display: flex;
    align-items: center;
}
.search input{
    background-color: aliceblue;
    outline: none;
    border: none;

}
.search span{
    padding-right: .5rem;
    cursor: pointer;
}
.search button{
    outline: none;
    border: none;
    padding: .3rem 1rem;
    background-color: blueviolet;
    border-radius: 5px;
    color: white;    
}